
// Footer Chhota Sa
footer.page-footer {
	padding-top: 0; background-color: $blue; color: #fff;
	font-size: 14px;
	text-align: center;
	@media screen and (min-width: $medium) {
		text-align: left;
	}
	.footer-copyright {
		height: auto;
		font-weight: bold;
		@media screen and (min-width: $medium) {
			height: 80px;
			line-height: 80px;
		}
		.footer-brand-link {
			margin-top: 12px;
			@media screen and (max-width: $medium) {
				display: block;
			}
			.sports-unity-logo {
				height: 36px;
				vertical-align: middle;
				@media screen and (min-width: $medium) {
					height: 45px;
					margin-right: 1rem;
				}
			}
		}
		a.footer-nav {
			font-family: $heading-font;
			margin: 0 6px;
			color: #fff;
		}
	}
}
