
// Footer Chhota Sa
footer.page-footer {
	padding-top: 0;
	background-color: $blue;
	color: #fff;
	@media screen and (max-width: $medium-size) {
		text-align: center;
	}
	.footer-copyright {
		height: 90px;
		line-height: 90px;
		font-weight: bold;
		@media screen and (max-width: $small-size) {
			line-height: 45px;
		}
		.footer-brand-link {
			@media screen and (max-width: $small-size) {
				display: block;
			}
			.sports-unity-logo {
				height: 45px;
				margin-right: 1rem;
				vertical-align: middle;
				@media screen and (max-width: $small-size) {
					height: 36px;
					margin-right: 0;
					margin-top: 9px;
				}
			}
		}
		a.footer-nav {
			font-family: "Brasilia";
			margin-left: 12px;
			margin-right: 12px;
			color: #fff;
			@media screen and (max-width: $medium-size) {
				// display: none;
			}
		}
	}
}
