// Sports Unity Brand Color.
$primary-color: #004D99;
$heading-font: 'Brasilia', 'Roboto', sans-serif;
$body-font: 'Roboto Condensed', 'Roboto', sans-serif;
$plain-font: 'Roboto', sans-serif;

//resizer phone sizes.
$phone-portrait: 360px; $phone-landscape: 600px; $tablet-portrait: 720px; $tablet-landscape: 1024px;
$window-xsmall: 480px; $window-small: 600px; $window-medium: 840px; $window-medium: 960px; $window-large: 1280px; $window-xlarge: 1440px;
// material design grid
$small: 600px;
$medium: 992px;


// Old.. needs to get delete.
$blue: #004D99;
$smallest-size: 360px;
$small-size: 600px;
$small-medium-size: 720px;
$medium-size: 992px;