@font-face {
	font-family: 'Brasilia';
	src: url('../fonts/Brasilia.ttf');
}

@import 'variables';

body {
	font-family: $body-font;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}

// LETS BEGIN THE CSS B-------
@import 'materialize';

// Nav bar CSS
nav {
	position: absolute; top: 0; left: 0;
	background-color: transparent; box-shadow: none;
	height: 112px;
	@media screen and (max-width: $phone-landscape) {
		height: 90px;
	}
	.nav-wrapper {
		padding-top: 42px;
		@media screen and (max-width: $phone-landscape) { padding-top: 21px; }
		.brand-logo {
			height: 70px; width: 180px;	//dimensions of brand logo svg
			@media screen and (max-width: $tablet-landscape) { height: 60px; width: 154px; }
			@media screen and (max-width: $phone-landscape) { height: 50px; width: 128px; }
			img { height: 100%; width: 100%; }
		}
		.button-collapse {
			@media screen and (max-width: $tablet-landscape) {
				height: 60px;
				i { font-size: 2.4rem; height: 60px; line-height: 60px; }
			}
			@media screen and (max-width: $phone-landscape) {
				height: 50px;
				i { font-size: 2rem; height: 50px; line-height: 50px; }
			}
		}
		ul a {
			font-family: $heading-font;
			font-size: 1.2rem;
			text-transform: uppercase;
			&:hover { background-color: transparent; }
		}
	}
}


// For the People
.for-the-people {
	background: url(../images/sports-unity-hero-banner.jpg) no-repeat center center fixed;
	background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
	padding-top: 150px;
	padding-bottom: 0px;
	@media screen and (min-width: $medium) {
		padding-top: 200px;
	}
	.phone-section {
		height: 574px;
		.banner-phone {
			background-image: url('../images/sportsunity-phone.png');
			background-repeat: no-repeat;
			height: 574px;
			width: 320px;
			position: relative;
			margin: 0 auto;
			img {
				position: absolute;
				width: 293px;
				height: 515px;
				top: 59px;
				left: 13px;
				overflow: hidden;
				z-index: 2;
			}
		}
	}
	.content-section {
		color: #fff;
		text-align: center;
		padding-bottom: 30px;
		@media screen and (min-width: $medium) {
			text-align: left;
			padding-bottom: 0;
		}
		h1 {
			font-size: 4rem;
			line-height: 130%;
			@media screen and (min-width: $medium) {
				font-size: 5.4rem;
				line-height: 150%;
			}
		}
		p {
			font-size: 1.25rem;
			font-family: $plain-font;
			@media screen and (min-width: $medium) {
				font-size: 1.4rem;
			}
			span {
				font-family: $heading-font;
			}
		}
		a {
			margin-right: 6px;
			@media screen and (max-width: $small) {
				margin-right: 0;
			}
		}
	}
}

.slider { height: 640px;
	.slides { background-color: transparent;
		li img { background-size: contain; background-repeat: no-repeat; }
	}
	.indicators {
		.indicator-item { height: 8px; width: 8px;
			&.active { background-color: $blue; }
		}
	}
	&:not(.connect-with-friends-slider)  {
		.indicators { right: 20%; }
	}
}


// Common CSS
body > .section {
	// padding-top: 50px;
	// padding-bottom: 50px;
	// &.for-the-people {
	// 	padding-top: 200px;
	// 	padding-bottom: 0;
	// 	@media screen and (max-width: $small-size) {
	// 		padding-top: 130px;
	// 	}
	// }
	.heading-row {
		text-align: center;
		h3 {
			font-family: 'Brasilia';
		}
		.divider {
			width: 100px;
			height: 4px;
			margin: 24px auto;
		}
		p {
			font-size: 1.3rem;
			font-weight: 300;
		}
	}
	.content-row {
		.section {
			h5 {
				font-family: 'Brasilia';
				line-height: 150%;
				font-size: 2rem;
				cursor: pointer;
			}
			p {
				font-size: 17px;
			}
			&.active {
				h5 {
					color: $blue;
				}
			}
			@media screen and (max-width: $small-size) {
				text-align: center;
			}
		}
	}
}

.more-from-app,
.connect-with-friends,
.spread-the-word,
.downloads {
	h3 {
		color: #444444;
	}
	.divider {
		background-color: #004D99;
	}
	p {
		color: #777777;
	}
}

.live-scores,
.subscribe {
	background-color: #004D99;
	h3 {
		color: #fff;
	}
	.divider {
		background-color: #fff;
	}
	p {
		color: #fff;
	}
}

.phone-div {
	background-image: url('../images/sportsunity-phone-full.png');
	background-repeat: no-repeat;
	height: 692px;
	width: 361px;
	position: relative;
	margin: 0 auto;
	.slider li {
		position: absolute;
		left: 23px;
		top: 63px;
		overflow: hidden;
		z-index: 2;
		width: 296px;
		height: 526px;
	}
}

// more from apps
.more-from-app {
	.section {
		h5 {
			color: #444;
		}
		svg {
			margin: 0.82rem 0 0.656rem 0;
		}
		&.active {
			svg path {
				fill: #004D99;
			}
		}
		@media screen and (max-width: $small-size) {
			text-align: center;
		}
	}
}

//live scores
.live-scores {
	.content-row {
		.section {
			h5 {
				color: #fff;
			}
			&.active {
				h5 {
					text-decoration: underline;
					color: #fff!important;
				}
			}
		}
		.indicator-item {
			background-color: rgba(224, 224, 224, 0.53);
			&.active {
				background-color: #fff!important;
			}
		}
	}
}

.subscribe {
	background-image: url('../images/subscribe-forupdate-bg.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 60px;
	padding-bottom: 60px;
	.content-row {
		.email-input {
			display: inline;
			position: relative;
			margin-right: 2rem;
			label {
				position: absolute;
				top: -2px;
				left: 30px;
				img {
					width: 72%
				}
			}
			input {
				max-width: 600px;
				background: #fff;
				border-radius: 50px;
				height: 70px;
				border: 0;
				padding-left: 90px;
				color: $blue;
				box-sizing: border-box;
				&:focus {
					border: 0;
					box-shadow: none;
				}
			}
		}
		button {
			width: 200px;
			height: 70px;
			line-height: 70px;
			background: #fff;
			color: $blue;
			border-radius: 50px;
			font-weight: bold;
			font-size: 1.8rem;
		}
		.subscribtion-result {
			color: #fff;
		}
	}
}

.spread-the-word {
	.content-row {
		a {
			margin: 0 3px;
		}
	}
}

// Footer Chhota Sa
footer.page-footer {
	padding-top: 0;
	background-color: $blue;
	color: #fff;
	@media screen and (max-width: $medium-size) {
		text-align: center;
	}
	.footer-copyright {
		height: 90px;
		line-height: 90px;
		font-weight: bold;
		@media screen and (max-width: $small-size) {
			line-height: 45px;
		}
		.footer-brand-link {
			@media screen and (max-width: $small-size) {
				display: block;
			}
			.sports-unity-logo {
				height: 45px;
				margin-right: 1rem;
				vertical-align: middle;
				@media screen and (max-width: $small-size) {
					height: 36px;
					margin-right: 0;
					margin-top: 9px;
				}
			}
		}
		a.footer-nav {
			font-family: "Brasilia";
			margin-left: 12px;
			margin-right: 12px;
			color: #fff;
			@media screen and (max-width: $medium-size) {
				// display: none;
			}
		}
	}
}
