$blue: #004D99;
$smallest-size: 360px;
$small-size: 600px;
$small-medium-size: 720px;
$medium-size: 992px;

@font-face {
	font-family: 'Brasilia';
	src: url('../fonts/Brasilia.ttf');
}

// MaterializeCSS
body { font-family: 'Roboto Condensed', sans-serif; }
@media screen and (min-width: $medium-size) { .container { width: 85%; } }

.slider { height: 640px;
	.slides { background-color: transparent;
		li img { background-size: contain; background-repeat: no-repeat; }
	}
	.indicators {
		.indicator-item { height: 8px; width: 8px;
			&.active { background-color: $blue; }
		}
	}
	&:not(.connect-with-friends-slider)  {
		.indicators { right: 20%; }
	}
}


// Common CSS
body > .section {
	// padding-top: 50px;
	// padding-bottom: 50px;
	&.for-the-people {
		padding-top: 200px;
		padding-bottom: 0;
		@media screen and (max-width: $small-size) {
			padding-top: 130px;
		}
	}
	&.subscribe {
		// padding-bottom: 120px;
	}
	.heading-row {
		text-align: center;
		h3 {
			font-family: 'Brasilia';
		}
		.divider {
			width: 100px;
			height: 4px;
			margin: 24px auto;
		}
		p {
			font-size: 1.3rem;
			font-weight: 300;
		}
	}
	.content-row {
		.section {
			h5 {
				font-family: 'Brasilia';
				line-height: 150%;
				font-size: 2rem;
				cursor: pointer;
			}
			p {
				font-size: 17px;
			}
			&.active {
				h5 {
					color: $blue;
				}
			}
		}
	}
}



// Nav bar CSS
nav {
	background-color: transparent;
	box-shadow: none;
	position: absolute;
	top: 0;
	height: 120px;
	.nav-wrapper {
		padding-top: 25px;
		padding-bottom: 25px;
		.brand-logo {
			height: 70px;	//dimensions of brand logo svg
			img {
				height: 100%; width: 100%;
			}
			@media screen and (max-width: $small-size) {
				height: 50px;
			}
		}
		ul a {
			font-family: 'Brasilia';
			font-size: 1.2rem;
			&:hover {
				background-color: transparent;
			}
		}
	}
}

// For the People
.for-the-people {
	background-image: url('../images/sports-unity-hero-banner.jpg');
	background-size: cover;
	background-position: center;
	.phone-section {
		height: 574px;
		.banner-phone {
			background-image: url('../images/sportsunity-phone.png');
			background-repeat: no-repeat;
			height: 574px;
			width: 320px;
			position: relative;
			margin: 0 auto;
			img {
				position: absolute;
				width: 293px;
				height: 515px;
				top: 59px;
				left: 13px;
				overflow: hidden;
				z-index: 2;
			}
		}
	}
	.content-section {
		color: #fff;
		h1 {
			font-size: 5.7rem;
			line-height: 140%;
			font-family: 'Brasilia';
			@media screen and (max-width: $small-size) {
				font-size: 4rem;
				line-height: 125%;
			}
		}
		p {
			font-size: 1.5rem;
			font-weight: 300;
			@media screen and (max-width: $small-size) {
				font-size: 1.2rem;
			}
		}
		a {
			margin-right: 24px;
			@media screen and (max-width: $small-size) {
				margin-right: 0;
			}
		}
		@media screen and (max-width: $small-size) {
			text-align: center;
		}
	}
}

.more-from-app,
.connect-with-friends,
.spread-the-word,
.downloads {
	h3 {
		color: #444444;
	}
	.divider {
		background-color: #004D99;
	}
	p {
		color: #777777;
	}
}

.live-scores,
.subscribe {
	background-color: #004D99;
	h3 {
		color: #fff;
	}
	.divider {
		background-color: #fff;
	}
	p {
		color: #fff;
	}
}

.phone-div {
	background-image: url('../images/sportsunity-phone-full.png');
	background-repeat: no-repeat;
	height: 692px;
	width: 361px;
	position: relative;
	margin: 0 auto;
	.slider li {
		position: absolute;
		left: 23px;
		top: 63px;
		overflow: hidden;
		z-index: 2;
		width: 296px;
		height: 526px;
	}
}

// more from apps
.more-from-app {
	.section {
		h5 {
			color: #444;
		}
		svg {
			margin: 0.82rem 0 0.656rem 0;
		}
		&.active {
			svg path {
				fill: #004D99;
			}
		}
		@media screen and (max-width: $small-size) {
			text-align: center;
		}
	}
}

//live scores
.live-scores {
	.content-row {
		.section {
			h5 {
				color: #fff;
			}
			&.active {
				h5 {
					text-decoration: underline;
					color: #fff!important;
				}
			}
		}
		.indicator-item {
			background-color: rgba(224, 224, 224, 0.53);
			&.active {
				background-color: #fff!important;
			}
		}
	}
}

.subscribe {
	background-image: url('../images/subscribe-forupdate-bg.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 60px;
	padding-bottom: 60px;
	.content-row {
		.input-field {
			width: 72%;
			display: inline-block;
			label { position: absolute; top: 20px; left: 40px; }
			input {
				background-color: #fff;
				border: 0;
				border-radius: 50px;
				box-sizing: border-box;
				color: $blue;
				height: 70px;
				padding-left: 15px;
				outline: none;
				width: 100%;
				&:focus { border: 0; }
			}
		}
		button {
			background-color: #fff;
			border: 0;
			border-radius: 50px;
			color: $blue;
			font-size: 1.2rem;
			font-weight: bold;
			height: 70px;
			margin-left: 2%;
			outline: none;
			top: -1px;
			width: 18%;
		}
		.result {
			color: #fff;
		}
	}
}

.spread-the-word {
	.content-row {
		a {
			margin: 0 3px;
		}
	}
}

// Footer Chhota Sa
footer.page-footer {
	padding-top: 0;
	background-color: $blue;
	color: #fff;
	@media screen and (max-width: $medium-size) {
		text-align: center;
	}
	.footer-copyright {
		height: 90px;
		line-height: 90px;
		font-weight: bold;
		@media screen and (max-width: $small-size) {
			line-height: 45px;
		}
		.footer-brand-link {
			@media screen and (max-width: $small-size) {
				display: block;
			}
			.sports-unity-logo {
				height: 45px;
				margin-right: 1rem;
				vertical-align: middle;
				@media screen and (max-width: $small-size) {
					height: 36px;
					margin-right: 0;
					margin-top: 9px;
				}
			}
		}
		a.footer-nav {
			font-family: "Brasilia";
			margin-left: 12px;
			margin-right: 12px;
			color: #fff;
			@media screen and (max-width: $medium-size) {
				display: none;
			}
		}
	}
}