@charset "UTF-8";
body {
  font-family: 'Roboto Condensed', sans-serif; }

nav {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  top: 0;
  height: 120px; }
  nav .nav-wrapper {
    padding-top: 48px; }
    nav .nav-wrapper ul a {
      font-family: 'Brasilia';
      font-size: 1.2rem; }
      nav .nav-wrapper ul a:hover {
        background-color: transparent; }

.container {
  width: 80%; }

.slider.connect-with-friends-slider, .slider.more-from-app-slider, .slider.live-score-slider {
  height: 640px; }
.slider .slides {
  background-color: transparent; }
  .slider .slides li img {
    background-size: contain;
    background-repeat: no-repeat; }
.slider .indicators .indicator-item {
  height: 8px;
  width: 8px; }
  .slider .indicators .indicator-item.active {
    background-color: #004D99; }
.slider:not(.connect-with-friends-slider) .indicators {
  right: 20%; }

.content-row {
  display: flex;
  align-items: center;
  justify-content: center; }

.phone-div {
  background-image: url("photos/sportsunity-phone-full.png");
  background-repeat: no-repeat;
  height: 692px;
  width: 361px;
  position: relative;
  margin: 0 auto; }
  .phone-div .slider li {
    position: absolute;
    left: 23px;
    top: 63px;
    overflow: hidden;
    z-index: 2;
    width: 296px;
    height: 526px; }

body > .section {
  padding-top: 48px;
  padding-bottom: 48px; }
  body > .section.for-the-people {
    padding-top: 210px;
    padding-bottom: 0px; }

.heading-row {
  text-align: center;
  margin-bottom: 24px; }
  .heading-row h3 {
    font-family: 'Brasilia'; }
  .heading-row .divider {
    width: 100px;
    height: 4px;
    margin: 24px auto; }
  .heading-row p {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 auto; }

.content-row {
  padding: 24px 0 0; }
  .content-row .section h5 {
    font-family: 'Brasilia';
    line-height: 150%; }
  .content-row .section.active h5 {
    color: #004D99; }

.for-the-people {
  background-image: url("photos/sports-unity-hero-banner.jpg");
  background-size: cover; }
  .for-the-people .photo-section {
    position: relative;
    height: 574px; }
    .for-the-people .photo-section .phone {
      height: 574px;
      width: 320px; }
    .for-the-people .photo-section .phone-screenshot {
      position: absolute;
      width: 293px;
      height: 515px;
      top: 59px;
      left: 27px; }
  .for-the-people .content-section {
    color: white; }
    .for-the-people .content-section h1 {
      font-size: 5.7rem;
      line-height: 140%;
      font-family: 'Brasilia'; }
    .for-the-people .content-section p {
      font-size: 1.5rem;
      font-weight: 300; }
    .for-the-people .content-section a {
      margin-right: 24px; }

.for-the-people .content-section {
  color: white; }

.more-from-app h3,
.connect-with-friends h3,
.spread-the-word h3,
.downloads h3 {
  color: #444444; }
.more-from-app .divider,
.connect-with-friends .divider,
.spread-the-word .divider,
.downloads .divider {
  background-color: #004D99; }
.more-from-app p,
.connect-with-friends p,
.spread-the-word p,
.downloads p {
  color: #777777; }

.more-from-app .section svg {
  margin: 0.82rem 0 0.656rem 0; }
.more-from-app .section.active svg path {
  fill: #004D99; }

.live-scores {
  background-color: #004D99; }
  .live-scores h3 {
    color: #fff; }
  .live-scores .divider {
    background-color: #fff; }
  .live-scores p {
    color: #fff; }
  .live-scores .content-row .section h5 {
    color: #fff; }
  .live-scores .content-row .indicator-item {
    background-color: rgba(224, 224, 224, 0.53); }
    .live-scores .content-row .indicator-item.active {
      background-color: #fff !important; }

.subscribe {
  background-color: #004D99; }
  .subscribe h3 {
    color: #fff; }
  .subscribe .divider {
    background-color: #fff; }
  .subscribe p {
    color: #fff; }
  .subscribe .content-row input {
    max-width: 600px;
    background: white;
    border-radius: 50px;
    height: 70px;
    border: 0;
    margin-right: 2rem;
    padding-left: 40px;
    color: #004D99;
    /* firefox 19+ */
    /* ie */ }
    .subscribe .content-row input:focus {
      border: 0; }
    .subscribe .content-row input::-webkit-input-placeholder::before {
      font-family: fontAwesome;
      content: '\f0e0  ';
      color: #CACACA; }
    .subscribe .content-row input::-moz-placeholder::before {
      font-family: fontAwesome;
      content: '\f0e0  ';
      color: #CACACA; }
    .subscribe .content-row input:-ms-input-placeholder::before {
      font-family: fontAwesome;
      content: '\f0e0  ';
      color: #CACACA; }
    .subscribe .content-row input:-moz-placeholder::before {
      font-family: fontAwesome;
      content: '\f0e0  ';
      color: #CACACA; }
  .subscribe .content-row a {
    width: 200px;
    height: 70px;
    line-height: 70px;
    background: white;
    color: #004D99;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.8rem; }

.spread-the-word .content-row a {
  margin: 0 6px; }

.downloads a {
  margin: 0 36px; }

footer.page-footer {
  padding-top: 0;
  background-color: #004D99;
  color: #fff; }
  footer.page-footer .footer-copyright {
    height: 84px;
    line-height: 84px;
    font-weight: bold; }
    footer.page-footer .footer-copyright .sports-unity-logo {
      height: 48px;
      vertical-align: middle;
      margin-right: 18px; }
    footer.page-footer .footer-copyright a {
      font-family: "Brasilia";
      margin-left: 12px;
      margin-right: 12px;
      color: #fff; }

/*# sourceMappingURL=output.css.map */
