@font-face {
  font-family: 'Brasilia';
  src: url("../fonts/Brasilia.ttf"); }

body {
  font-family: 'Roboto Condensed', sans-serif; }

.container {
  width: 85%; }

.slider {
  height: 640px; }
  .slider .slides {
    background-color: transparent; }
    .slider .slides li img {
      background-size: contain;
      background-repeat: no-repeat; }
  .slider .indicators .indicator-item {
    height: 8px;
    width: 8px; }
    .slider .indicators .indicator-item.active {
      background-color: #004D99; }
  .slider:not(.connect-with-friends-slider) .indicators {
    right: 20%; }

body > .section {
  padding-top: 50px;
  padding-bottom: 50px; }
  body > .section.for-the-people {
    padding-top: 200px;
    padding-bottom: 0; }
  body > .section.subscribe {
    padding-bottom: 120px; }
  body > .section .heading-row {
    text-align: center; }
    body > .section .heading-row h3 {
      font-family: 'Brasilia'; }
    body > .section .heading-row .divider {
      width: 100px;
      height: 4px;
      margin: 24px auto; }
    body > .section .heading-row p {
      font-size: 1.3rem;
      font-weight: 300; }
  body > .section .content-row .section h5 {
    font-family: 'Brasilia';
    line-height: 150%;
    font-size: 2rem;
    cursor: pointer; }
  body > .section .content-row .section p {
    font-size: 17px; }
  body > .section .content-row .section.active h5 {
    color: #004D99; }

nav {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  top: 0;
  height: 120px; }
  nav .nav-wrapper {
    padding-top: 25px;
    padding-bottom: 25px; }
    nav .nav-wrapper .brand-logo {
      height: 70px;
      width: 183px; }
      nav .nav-wrapper .brand-logo img {
        height: 100%;
        width: 100%; }
    nav .nav-wrapper ul a {
      font-family: 'Brasilia';
      font-size: 1.2rem; }
      nav .nav-wrapper ul a:hover {
        background-color: transparent; }

.for-the-people {
  background-image: url("../images/sports-unity-hero-banner.jpg");
  background-size: cover; }
  .for-the-people .phone-section {
    height: 574px; }
    .for-the-people .phone-section .banner-phone {
      background-image: url("../images/sportsunity-phone.png");
      background-repeat: no-repeat;
      height: 574px;
      width: 320px;
      position: relative;
      margin: 0 auto; }
      .for-the-people .phone-section .banner-phone img {
        position: absolute;
        width: 293px;
        height: 515px;
        top: 59px;
        left: 13px;
        overflow: hidden;
        z-index: 2; }
  .for-the-people .content-section {
    color: #fff; }
    .for-the-people .content-section h1 {
      font-size: 5.7rem;
      line-height: 140%;
      font-family: 'Brasilia'; }
    .for-the-people .content-section p {
      font-size: 1.5rem;
      font-weight: 300; }
    .for-the-people .content-section a {
      margin-right: 24px; }

.more-from-app h3,
.connect-with-friends h3,
.spread-the-word h3,
.downloads h3 {
  color: #444444; }

.more-from-app .divider,
.connect-with-friends .divider,
.spread-the-word .divider,
.downloads .divider {
  background-color: #004D99; }

.more-from-app p,
.connect-with-friends p,
.spread-the-word p,
.downloads p {
  color: #777777; }

.live-scores,
.subscribe {
  background-color: #004D99; }
  .live-scores h3,
  .subscribe h3 {
    color: #fff; }
  .live-scores .divider,
  .subscribe .divider {
    background-color: #fff; }
  .live-scores p,
  .subscribe p {
    color: #fff; }

.phone-div {
  background-image: url("../images/sportsunity-phone-full.png");
  background-repeat: no-repeat;
  height: 692px;
  width: 361px;
  position: relative;
  margin: 0 auto; }
  .phone-div .slider li {
    position: absolute;
    left: 23px;
    top: 63px;
    overflow: hidden;
    z-index: 2;
    width: 296px;
    height: 526px; }

.more-from-app .section h5 {
  color: #444; }

.more-from-app .section svg {
  margin: 0.82rem 0 0.656rem 0; }

.more-from-app .section.active svg path {
  fill: #004D99; }

.live-scores .content-row .section h5 {
  color: #fff; }

.live-scores .content-row .section.active h5 {
  text-decoration: underline;
  color: #fff !important; }

.live-scores .content-row .indicator-item {
  background-color: rgba(224, 224, 224, 0.53); }
  .live-scores .content-row .indicator-item.active {
    background-color: #fff !important; }

.subscribe {
  background-image: url("../images/subscribe-forupdate-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom; }
  .subscribe .content-row .email-input {
    display: inline;
    position: relative;
    margin-right: 2rem; }
    .subscribe .content-row .email-input label {
      position: absolute;
      top: -2px;
      left: 30px; }
      .subscribe .content-row .email-input label img {
        width: 80%; }
    .subscribe .content-row .email-input input {
      max-width: 600px;
      background: white;
      border-radius: 50px;
      height: 70px;
      border: 0;
      padding-left: 90px;
      color: #004D99; }
      .subscribe .content-row .email-input input:focus {
        border: 0; }
  .subscribe .content-row button {
    width: 200px;
    height: 70px;
    line-height: 70px;
    background: white;
    color: #004D99;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.8rem; }

.spread-the-word .content-row a {
  margin: 0 6px; }

.downloads a {
  margin: 0 36px; }

footer.page-footer {
  padding-top: 0;
  background-color: #004D99;
  color: #fff; }
  footer.page-footer .footer-copyright {
    height: 84px;
    line-height: 84px;
    font-weight: bold; }
    footer.page-footer .footer-copyright .sports-unity-logo {
      height: 48px;
      vertical-align: middle;
      margin-right: 18px; }
    footer.page-footer .footer-copyright a {
      font-family: "Brasilia";
      margin-left: 12px;
      margin-right: 12px;
      color: #fff; }
