@font-face {
  font-family: 'Brasilia';
  src: url("../fonts/Brasilia.ttf"); }

body {
  font-family: "Roboto Condensed", "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Brasilia", "Roboto", sans-serif; }

@media screen and (min-width: 992px) {
  .container {
    width: 85%; } }

.phone-div {
  background: url(../images/sportsunity-phone-full.png) no-repeat center center;
  background-size: contain; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  box-shadow: none;
  height: 112px; }
  @media screen and (max-width: 600px) {
    nav {
      height: 90px; } }
  nav .nav-wrapper {
    padding-top: 42px; }
    @media screen and (max-width: 600px) {
      nav .nav-wrapper {
        padding-top: 21px; } }
    nav .nav-wrapper .brand-logo {
      height: 70px;
      width: 180px; }
      @media screen and (max-width: 1024px) {
        nav .nav-wrapper .brand-logo {
          height: 60px;
          width: 154px; } }
      @media screen and (max-width: 600px) {
        nav .nav-wrapper .brand-logo {
          height: 50px;
          width: 128px; } }
      nav .nav-wrapper .brand-logo img {
        height: 100%;
        width: 100%; }
    @media screen and (max-width: 1024px) {
      nav .nav-wrapper .button-collapse {
        height: 60px; }
        nav .nav-wrapper .button-collapse i {
          font-size: 2.4rem;
          height: 60px;
          line-height: 60px; } }
    @media screen and (max-width: 600px) {
      nav .nav-wrapper .button-collapse {
        height: 50px; }
        nav .nav-wrapper .button-collapse i {
          font-size: 2rem;
          height: 50px;
          line-height: 50px; } }
    nav .nav-wrapper ul a {
      font-family: "Brasilia", "Roboto", sans-serif;
      font-size: 1.2rem;
      text-transform: uppercase; }
      nav .nav-wrapper ul a:hover {
        background-color: transparent; }

.for-the-people {
  background: url(../images/sports-unity-hero-banner.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 150px;
  padding-bottom: 0px; }
  @media screen and (min-width: 992px) {
    .for-the-people {
      padding-top: 200px; } }
  .for-the-people .phone-section {
    height: 574px; }
    .for-the-people .phone-section .banner-phone {
      background-image: url("../images/sportsunity-phone.png");
      background-repeat: no-repeat;
      height: 574px;
      width: 320px;
      position: relative;
      margin: 0 auto; }
      .for-the-people .phone-section .banner-phone img {
        position: absolute;
        width: 293px;
        height: 515px;
        top: 59px;
        left: 13px;
        overflow: hidden;
        z-index: 2; }
  .for-the-people .content-section {
    color: #fff;
    text-align: center;
    padding-bottom: 30px; }
    @media screen and (min-width: 992px) {
      .for-the-people .content-section {
        text-align: left;
        padding-bottom: 0; } }
    .for-the-people .content-section h1 {
      font-size: 4rem;
      line-height: 130%; }
      @media screen and (min-width: 992px) {
        .for-the-people .content-section h1 {
          font-size: 5.4rem;
          line-height: 150%; } }
    .for-the-people .content-section p {
      font-size: 1.25rem;
      font-family: "Roboto", sans-serif; }
      @media screen and (min-width: 992px) {
        .for-the-people .content-section p {
          font-size: 1.4rem; } }
      .for-the-people .content-section p span {
        font-family: "Brasilia", "Roboto", sans-serif; }
    .for-the-people .content-section a {
      margin-right: 6px; }
      @media screen and (max-width: 600px) {
        .for-the-people .content-section a {
          margin-right: 0; } }

.content-row .section {
  position: relative;
  box-sizing: border-box; }
  @media screen and (min-width: 992px) {
    .content-row .section svg {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0; } }
  .content-row .section.section-with-right-icon {
    padding: 0 70px 0 0;
    text-align: right; }
    .content-row .section.section-with-right-icon svg {
      right: 15px; }
  .content-row .section.section-with-left-icon {
    padding: 0 0 0 70px; }
    .content-row .section.section-with-left-icon svg {
      left: 15px; }
  @media screen and (max-width: 992px) {
    .content-row .section.section-with-right-icon, .content-row .section.section-with-left-icon {
      padding: 0; } }

.more-from-app .section h5 {
  color: #444;
  margin-top: 1.84rem; }

.more-from-app .section.active svg path {
  fill: #004D99; }

@media screen and (max-width: 600px) {
  .more-from-app .section {
    text-align: center; } }

.slider .slides {
  background-color: transparent; }
  .slider .slides li img {
    background-size: contain;
    background-repeat: no-repeat; }

.slider .indicators .indicator-item {
  height: 8px;
  width: 8px;
  margin: 0 4px; }
  .slider .indicators .indicator-item.active {
    background-color: #004D99; }

body > .section .heading-row {
  text-align: center; }
  body > .section .heading-row h3 {
    font-family: 'Brasilia'; }
  body > .section .heading-row .divider {
    width: 100px;
    height: 4px;
    margin: 24px auto; }
  body > .section .heading-row p {
    font-size: 1.3rem;
    font-weight: 300; }

body > .section .content-row .section h5 {
  font-family: 'Brasilia';
  line-height: 150%;
  font-size: 2rem;
  cursor: pointer; }

body > .section .content-row .section p {
  font-size: 17px; }

body > .section .content-row .section.active h5 {
  color: #004D99; }

@media screen and (max-width: 992px) {
  body > .section .content-row .section {
    text-align: center; } }

.people-around-me {
  background-color: #f1f1f1; }

.spread-the-word {
  background-color: #f1f1f1; }

.more-from-app h3,
.connect-with-friends h3,
.spread-the-word h3,
.people-around-me h3,
.downloads h3 {
  color: #444444;
  line-height: 150%; }

.more-from-app .divider,
.connect-with-friends .divider,
.spread-the-word .divider,
.people-around-me .divider,
.downloads .divider {
  background-color: #004D99; }

.more-from-app p,
.connect-with-friends p,
.spread-the-word p,
.people-around-me p,
.downloads p {
  color: #777777; }

.live-scores,
.subscribe {
  background-color: #004D99; }
  .live-scores h3,
  .subscribe h3 {
    color: #fff; }
  .live-scores .divider,
  .subscribe .divider {
    background-color: #fff; }
  .live-scores p,
  .subscribe p {
    color: #fff; }

.live-scores .content-row .section h5 {
  color: #fff; }

.live-scores .content-row .section.active h5 {
  color: #fff !important; }

.live-scores .content-row .indicator-item {
  background-color: rgba(224, 224, 224, 0.53); }
  .live-scores .content-row .indicator-item.active {
    background-color: #fff !important; }

.subscribe {
  background-image: url("../images/subscribe-forupdate-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 60px;
  padding-bottom: 60px; }
  .subscribe .content-row .email-input {
    display: inline;
    position: relative;
    margin-right: 2rem; }
    .subscribe .content-row .email-input label {
      position: absolute;
      top: -2px;
      left: 30px; }
      .subscribe .content-row .email-input label img {
        width: 72%; }
    .subscribe .content-row .email-input input {
      max-width: 600px;
      background: #fff;
      border-radius: 50px;
      height: 70px;
      border: 0;
      padding-left: 90px;
      color: #004D99;
      box-sizing: border-box; }
      .subscribe .content-row .email-input input:focus {
        border: 0;
        box-shadow: none; }
  .subscribe .content-row button {
    width: 200px;
    height: 70px;
    line-height: 70px;
    background: #fff;
    color: #004D99;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.8rem; }
  .subscribe .content-row .subscribtion-result {
    color: #fff; }

.spread-the-word .content-row a {
  margin: 0 3px; }

footer.page-footer {
  padding-top: 0;
  background-color: #004D99;
  color: #fff; }
  @media screen and (max-width: 992px) {
    footer.page-footer {
      text-align: center; } }
  footer.page-footer .footer-copyright {
    height: 90px;
    line-height: 90px;
    font-weight: bold; }
    @media screen and (max-width: 600px) {
      footer.page-footer .footer-copyright {
        line-height: 45px; } }
    @media screen and (max-width: 600px) {
      footer.page-footer .footer-copyright .footer-brand-link {
        display: block; } }
    footer.page-footer .footer-copyright .footer-brand-link .sports-unity-logo {
      height: 45px;
      margin-right: 1rem;
      vertical-align: middle; }
      @media screen and (max-width: 600px) {
        footer.page-footer .footer-copyright .footer-brand-link .sports-unity-logo {
          height: 36px;
          margin-right: 0;
          margin-top: 9px; } }
    footer.page-footer .footer-copyright a.footer-nav {
      font-family: "Brasilia";
      margin-left: 12px;
      margin-right: 12px;
      color: #fff; }
