$blue: #004D99;

body {
	font-family: 'Roboto Condensed', sans-serif;
}
nav {
	background-color: transparent;
	box-shadow: none;
	position: absolute;
	top: 0;
	height: 120px;
	.nav-wrapper {
		padding-top: 48px;
		ul {
			a {
				font-family: 'Brasilia';
				font-size: 1.2rem;
				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}

// materialize override
.container {
	width: 80%;
}
.slider {
	&.connect-with-friends-slider,
	&.more-from-app-slider,
	&.live-score-slider {
		height: 640px;
	}
	.slides {
		background-color: transparent;
		li img {
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	.indicators {
		.indicator-item {
			height: 8px;
			width: 8px;
			&.active {
				background-color: $blue;
			}
		}
	}
	&:not(.connect-with-friends-slider)  {
		.indicators {
			right: 20%;
		}
	}
}


// Common Reused CSS
.content-row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.phone-div {
	background-image: url('photos/sportsunity-phone-full.png');
	background-repeat: no-repeat;
	height: 692px;
	width: 361px;
	position: relative;
	margin: 0 auto;
	.slider li {
		position: absolute;
		left: 23px;
		top: 63px;
		overflow: hidden;
		z-index: 2;
		width: 296px;
		height: 526px;
	}
}

// .more-from-app {
// 	.heading-row {
// 		text-align: center;
// 		h3 {
// 			color: #444444;
// 			font-family: 'Brasilia';
// 		}
// 		.heading-line {
// 			width: 100px;
// 			height: 4px;
// 			background-color: #004D99;
// 			margin: 36px auto;
// 		}
// 		p {
// 			color: #777777;
// 			font-size: 1.2rem;
// 			font-weight: 300;
// 		}
// 	}
// 	.content-row {
// 		.section {
// 			h5 {
// 				color: #444444;
// 				font-family: 'Brasilia';
// 			}
// 			p {
// 				color: #777777;
// 			}
// 			&.active {
// 				h5 {
// 					color: #004D99;
// 				}
// 			}
// 		}
// 	}
// }

// .live-scores {
// 	background-color: #004D99;
// 	color: #fff;
// 	.heading-row {
// 		text-align: center;
// 		h3 {
// 			font-family: 'Brasilia';
// 			text-transform: capitalize;
// 		}
// 		.heading-line {
// 			width: 100px;
// 			height: 4px;
// 			background-color: #fff;
// 			margin: 36px auto;
// 		}
// 		p {
// 			font-size: 1.2rem;
// 			font-weight: 300;
// 		}
// 	}
// 	.content-row {
// 		.section {
// 			h5 {
// 				font-family: 'Brasilia';
// 			}
// 		}
// 	}
// }



body > .section {
	padding-top: 48px;
	padding-bottom: 48px;
	&.for-the-people {
		padding-top: 210px;
		padding-bottom: 0px;
	}
}

.heading-row {
	text-align: center;
	margin-bottom: 24px;
	h3 {
		font-family: 'Brasilia';
	}
	.divider {
		width: 100px;
		height: 4px;
		margin: 24px auto;
	}
	p {
		// font-family: 'Roboto', sans-serif;
		font-size: 1.3rem;
    	font-weight: 300;
		margin: 0 auto;
	}
}
.content-row {
	padding: 24px 0 0;
	.section {
		h5 {
			font-family: 'Brasilia';
			line-height: 150%;
		}
		&.active {
			h5 {
				color: #004D99;
			}
		}
	}
}


.for-the-people {
	background-image: url('photos/sports-unity-hero-banner.jpg');
	background-size: cover;
	.photo-section {
		position: relative;
		height: 574px;
		// text-align: center;
		.phone {
			height: 574px;
			width: 320px;
		}
		.phone-screenshot {
			position: absolute;
			width: 293px;
			height: 515px;
			top: 59px;
			left: 27px;
		}
	}
	.content-section {
		color: white;
		h1 {
			font-size: 5.7rem;
			line-height: 140%;
			font-family: 'Brasilia';
		}
		p {
			font-size: 1.5rem;
			font-weight: 300;
		}
		a {
			margin-right: 24px;
		}
	}
}

.for-the-people .content-section {
	color: white;
}




.more-from-app,
.connect-with-friends,
.spread-the-word,
.downloads {
	h3 {
		color: #444444;
	}
	.divider {
		background-color: #004D99;
	}
	p {
		color: #777777;
	}
}

.more-from-app {
	.section {
		svg {
			margin: 0.82rem 0 0.656rem 0;
		}
		&.active {
			svg path {
				fill: #004D99;
			}
		}
	}
}

.live-scores {
	background-color: #004D99;
	h3 {
		color: #fff;
	}
	.divider {
		background-color: #fff;
	}
	p {
		color: #fff;
		// max-width: 720px;
	}
	.content-row {
		.section h5 {
			color: #fff;
		}
		.indicator-item {
			background-color: rgba(224, 224, 224, 0.53);
			&.active {
				background-color: #fff!important;
			}
		}
	}
}

// Subscribe DIV
.subscribe {
	background-color: #004D99;
	h3 {
		color: #fff;
	}
	.divider {
		background-color: #fff;
	}
	p {
		color: #fff;
		// max-width: 720px;
	}
	.content-row {
		input {
			max-width: 600px;
			background: white;
			border-radius: 50px;
			height: 70px;
			border: 0;
			margin-right: 2rem;
			padding-left: 40px;
			color: #004D99;
			&:focus {
				border: 0;
			}
			&::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0e0  '; color: #CACACA }
			&::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0e0  '; color: #CACACA } /* firefox 19+ */
			&:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0e0  '; color: #CACACA } /* ie */
			&:-moz-placeholder::before  { font-family: fontAwesome; content:'\f0e0  '; color: #CACACA }
		}
		a {
			width: 200px;
			height: 70px;
			line-height: 70px;
			background: white;
			color: #004D99;
			border-radius: 50px;
			font-weight: bold;
			font-size: 1.8rem;
		}
	}
}

// Spread the Word, Download
.spread-the-word {
	.content-row {
		a {
			margin: 0 6px;
		}
	}
}

.downloads {
	a {
		margin: 0 36px;
	}
}


// Footer CSS
footer.page-footer {
	padding-top: 0; //overriding materialize padding
	background-color: $blue;
	color: #fff;
	.footer-copyright {
		height: 84px;
		line-height: 84px;
		font-weight: bold;
		.sports-unity-logo {
			height: 48px;
			vertical-align: middle;
			margin-right: 18px;
		}
		a {
			font-family: "Brasilia";
			margin-left: 12px;
			margin-right: 12px;
			color: #fff;
		}
	}
}