@font-face {
  font-family: 'Brasilia';
  src: url("../fonts/Brasilia.ttf"); }

body {
  font-family: "Roboto Condensed", "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Brasilia", "Roboto", sans-serif; }

@media screen and (min-width: 992px) {
  .container {
    width: 85%; } }

.slider .slides {
  background-color: transparent; }
  .slider .slides li img {
    background-size: contain;
    background-repeat: no-repeat; }

.slider .indicators .indicator-item {
  height: 8px;
  width: 8px;
  margin: 0 4px; }

body > .section {
  background-color: #fff; }
  body > .section.section-without-bottom-padding {
    padding-bottom: 0; }
    body > .section.section-without-bottom-padding .content-row {
      margin-bottom: 0; }
  body > .section .heading-row {
    text-align: center; }
    body > .section .heading-row h3 {
      font-size: 40px;
      line-height: 125%;
      color: #444444; }
    body > .section .heading-row .divider {
      width: 100px;
      height: 4px;
      margin: 24px auto;
      background-color: #004D99; }
    body > .section .heading-row p {
      font-size: 22px;
      font-family: "Roboto Condensed", "Roboto", sans-serif;
      color: #777777; }
      body > .section .heading-row p span {
        font-weight: bold; }
  @media screen and (max-width: 992px) {
    body > .section .content-row .section {
      text-align: center; } }
  body > .section .content-row .section h5 {
    font-size: 30px;
    line-height: 125%;
    font-family: "Brasilia", "Roboto", sans-serif;
    color: #444444;
    cursor: pointer;
    -moz-transform: matrix(0.99962, 0, 0, 1.00093, 0, 0);
    -webkit-transform: matrix(0.99962, 0, 0, 1.00093, 0, 0);
    -ms-transform: matrix(0.99962, 0, 0, 1.00093, 0, 0);
    transform: matrix(0.99962, 0, 0, 1.00093, 0, 0); }
  body > .section .content-row .section p {
    font-size: 16px;
    font-family: "Roboto Condensed", "Roboto", sans-serif;
    color: #777777;
    -moz-transform: matrix(0.99999, 0, 0, 1.00093, 0, 0);
    -webkit-transform: matrix(0.99999, 0, 0, 1.00093, 0, 0);
    -ms-transform: matrix(0.99999, 0, 0, 1.00093, 0, 0);
    transform: matrix(0.99999, 0, 0, 1.00093, 0, 0); }
  body > .section .content-row .section.active h5 {
    color: #004D99; }
  body > .section .content-row .slider .indicators .indicator-item.active {
    background-color: #004D99; }
  body > .section.blue-section {
    background-color: #004D99;
    background-image: -moz-linear-gradient(90deg, #004d99 0%, #036ded 100%);
    background-image: -webkit-linear-gradient(90deg, #004d99 0%, #036ded 100%);
    background-image: -ms-linear-gradient(90deg, #004d99 0%, #036ded 100%); }
    body > .section.blue-section .heading-row h3 {
      color: #fff; }
    body > .section.blue-section .heading-row .divider {
      background-color: #fff; }
    body > .section.blue-section .heading-row p {
      color: #fff; }
    body > .section.blue-section .content-row .section h5 {
      color: #fff; }
    body > .section.blue-section .content-row .section p {
      color: #fff; }
    body > .section.blue-section .content-row .slider .indicators .indicator-item {
      background-color: rgba(0, 0, 0, 0.54); }
      body > .section.blue-section .content-row .slider .indicators .indicator-item.active {
        background-color: #fff; }

.content-row .section {
  position: relative;
  box-sizing: border-box; }
  @media screen and (min-width: 992px) {
    .content-row .section h5 {
      line-height: 53px; } }
  .content-row .section svg,
  .content-row .section img {
    margin: 0 auto; }
    @media screen and (min-width: 992px) {
      .content-row .section svg,
      .content-row .section img {
        position: absolute;
        width: 45px;
        height: 45px;
        top: 23px; } }
  .content-row .section.section-with-right-icon {
    padding-right: 90px;
    text-align: right; }
    .content-row .section.section-with-right-icon svg,
    .content-row .section.section-with-right-icon img {
      right: 15px; }
  .content-row .section.section-with-left-icon {
    padding-left: 90px; }
    .content-row .section.section-with-left-icon svg,
    .content-row .section.section-with-left-icon img {
      left: 15px; }
  @media screen and (max-width: 992px) {
    .content-row .section.section-with-right-icon, .content-row .section.section-with-left-icon {
      padding: 0; } }
  .content-row .section img.sports-unity-li-icon.selected {
    display: none; }
  .content-row .section.active svg path {
    fill: #004D99; }
  .content-row .section.active img.sports-unity-li-icon.not-selected {
    display: none; }
  .content-row .section.active img.sports-unity-li-icon.selected {
    display: block; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  box-shadow: none;
  height: 112px;
  z-index: 1000; }
  @media screen and (max-width: 600px) {
    nav {
      height: 90px; } }
  nav .nav-wrapper {
    padding-top: 42px; }
    @media screen and (max-width: 600px) {
      nav .nav-wrapper {
        padding-top: 21px; } }
    nav .nav-wrapper .brand-logo {
      height: 70px;
      width: 180px; }
      @media screen and (max-width: 1024px) {
        nav .nav-wrapper .brand-logo {
          height: 60px;
          width: 154px; } }
      @media screen and (max-width: 600px) {
        nav .nav-wrapper .brand-logo {
          height: 50px;
          width: 128px; } }
      nav .nav-wrapper .brand-logo img {
        height: 100%;
        width: 100%; }
    @media screen and (max-width: 1024px) {
      nav .nav-wrapper .button-collapse {
        height: 60px; }
        nav .nav-wrapper .button-collapse i {
          font-size: 2.4rem;
          height: 60px;
          line-height: 60px; } }
    @media screen and (max-width: 600px) {
      nav .nav-wrapper .button-collapse {
        height: 50px; }
        nav .nav-wrapper .button-collapse i {
          font-size: 2rem;
          height: 50px;
          line-height: 50px; } }
    nav .nav-wrapper ul a {
      z-index: 2;
      font-family: "Brasilia", "Roboto", sans-serif;
      font-size: 1.2rem;
      text-transform: uppercase; }
      nav .nav-wrapper ul a:hover {
        background-color: transparent; }

.for-the-people {
  position: relative;
  font-size: 1rem;
  background: url(../images/sports-unity-hero-banner.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 150px; }
  @media screen and (min-width: 992px) {
    .for-the-people {
      padding-top: 200px; } }
  .for-the-people .phone-section {
    text-align: center; }
    .for-the-people .phone-section img {
      vertical-align: bottom; }
  .for-the-people .content-section {
    color: #fff;
    text-align: center;
    margin-bottom: 3rem; }
    @media screen and (min-width: 992px) {
      .for-the-people .content-section {
        text-align: left;
        margin-bottom: 0; } }
    .for-the-people .content-section h1 {
      line-height: 125%;
      font-family: "Brasilia";
      text-shadow: 2.5px 4.33px 5px rgba(0, 0, 0, 0.2); }
      @media screen and (min-width: 1280px) {
        .for-the-people .content-section h1 {
          font-size: 4.2em; } }
      @media screen and (min-width: 992px) {
        .for-the-people .content-section h1 {
          font-size: 5.4em; } }
    .for-the-people .content-section p {
      font-family: "Roboto", sans-serif;
      font-size: 20px; }
      .for-the-people .content-section p span {
        font-family: "Brasilia", "Roboto", sans-serif; }
    @media screen and (min-width: 992px) {
      .for-the-people .content-section a {
        margin-right: 6px; } }

.people-around-me {
  background-color: #F1F1F1 !important;
  background-size: cover; }

.spread-the-word {
  background-color: #f1f1f1; }
  .spread-the-word .content-row a {
    margin: 0 3px; }

.subscribe {
  background: url("../images/subscribe-forupdate-bg.png") no-repeat center bottom;
  padding-top: 45px;
  padding-bottom: 45px; }
  .subscribe .content-row .email-input {
    display: inline;
    position: relative;
    margin-right: 2rem; }
    .subscribe .content-row .email-input label {
      position: absolute;
      top: -2px;
      left: 30px; }
      .subscribe .content-row .email-input label img {
        width: 72%; }
    .subscribe .content-row .email-input input {
      max-width: 600px;
      background: #fff;
      border-radius: 50px;
      height: 70px;
      border: 0;
      padding-left: 90px;
      color: #004D99;
      box-sizing: border-box; }
      .subscribe .content-row .email-input input:focus {
        border: 0;
        box-shadow: none; }
  .subscribe .content-row button {
    width: 200px;
    height: 70px;
    line-height: 70px;
    background: #fff;
    color: #004D99;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.8rem; }
  .subscribe .content-row .subscribtion-result {
    color: #fff; }

footer.page-footer {
  padding-top: 0;
  background-color: #004D99;
  color: #fff;
  font-size: 14px;
  text-align: center; }
  @media screen and (min-width: 992px) {
    footer.page-footer {
      text-align: left; } }
  footer.page-footer .footer-copyright {
    height: auto;
    font-weight: bold; }
    @media screen and (min-width: 992px) {
      footer.page-footer .footer-copyright {
        height: 80px;
        line-height: 80px; } }
    footer.page-footer .footer-copyright .footer-brand-link {
      margin-top: 12px; }
      @media screen and (max-width: 992px) {
        footer.page-footer .footer-copyright .footer-brand-link {
          display: block; } }
      footer.page-footer .footer-copyright .footer-brand-link .sports-unity-logo {
        height: 36px;
        vertical-align: middle; }
        @media screen and (min-width: 992px) {
          footer.page-footer .footer-copyright .footer-brand-link .sports-unity-logo {
            height: 45px;
            margin-right: 1rem; } }
    footer.page-footer .footer-copyright a.footer-nav {
      font-family: "Brasilia", "Roboto", sans-serif;
      margin: 0 6px;
      color: #fff; }

.modal {
  max-width: 600px;
  border-radius: 6px; }
  .modal .modal-content {
    padding: 0; }
    .modal .modal-content .modal-head {
      position: relative;
      padding-left: 24px;
      padding-right: 24px;
      border-bottom: 1px solid #f0f0f0; }
      .modal .modal-content .modal-head h4 {
        margin: 1.14rem 0 0.912rem 0; }
      .modal .modal-content .modal-head .modal-close {
        position: absolute;
        right: 12px;
        top: 0; }
    .modal .modal-content .modal-body {
      text-align: center; }
      .modal .modal-content .modal-body h3 {
        margin: 1.46rem 0 1.168rem 0;
        color: #004D99; }
      .modal .modal-content .modal-body p {
        font-size: 1.3rem;
        color: rgba(0, 0, 0, 0.54); }
      .modal .modal-content .modal-body .email-input {
        display: inline;
        position: relative;
        margin-right: 1rem;
        text-align: left; }
        .modal .modal-content .modal-body .email-input label {
          position: absolute;
          top: -2px;
          left: 30px; }
          .modal .modal-content .modal-body .email-input label img {
            width: 72%; }
        .modal .modal-content .modal-body .email-input input {
          max-width: 352px;
          background: #fff;
          border-radius: 50px;
          height: 70px;
          border: 0;
          padding-left: 90px;
          color: #004D99;
          box-sizing: border-box; }
          .modal .modal-content .modal-body .email-input input:focus {
            border: 0;
            box-shadow: none; }
      .modal .modal-content .modal-body button {
        width: 120px;
        height: 70px;
        line-height: 70px;
        background: #fff;
        color: #004D99;
        border-radius: 50px;
        font-weight: bold;
        font-size: 1.8rem; }
